/* 전체 스타일 */
body {
    background: url('assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #595959;
  }
  
  /* 상단 스타일 */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
  }
  
  header h1 {
    color: #595959;
    text-align: center;
  }
  
  /* 버튼 기본 스타일 */
  button {
    background: #595959;
    color: #FFFFFE;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
  }
  
  button:hover {
    background: #221E1C;
    transform: translateY(-5px);
  }
  
  #timer-btn:hover {
    content: "Reset";
  }
  
  /* 작동 중 배경 스타일 */
  #music-btn.active, #timer-btn.active {
    background: #F2D888;
    border: 2px solid #595959;
  }
  
  /* 하단 레이아웃 */
  #content {
    text-align: center;
    padding: 2em;
  }
  
  #screen-1, #screen-2 {
    display: none;
  }
  
  #screen-1.active, #screen-2.active {
    display: block;
  }
  
  /* 컨테이너 및 텍스트 스타일 */
  .container {
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 20px;
    text-align: justify;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.15);
  }
  
  .bold {
    font-weight: bold;
  }
  
  /* 텍스트 효과 */
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .fade-out {
    animation: fadeOut 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  #envelope-img:hover, #reload-btn:hover {
    transform: translateY(-5px);
  }
  